input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.draggable {
  -webkit-app-region: drag;
  user-select: none;
}

.draggable * {
  -webkit-app-region: no-drag;
  user-select: auto;
}
