.draggable {
  -webkit-app-region: drag;
  user-select: none;
}

.draggable * {
  -webkit-app-region: no-drag;
  user-select: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
