.theme-material-design {
  --background: oklch(0.98 0.01 335.69);
  --foreground: oklch(0.22 0 0);
  --card: oklch(0.96 0.01 335.69);
  --card-foreground: oklch(0.14 0 0);
  --popover: oklch(0.95 0.01 316.67);
  --popover-foreground: oklch(0.4 0.04 309.35);
  --primary: oklch(0.51 0.21 286.5);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.49 0.04 300.23);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.96 0.01 335.69);
  --muted-foreground: oklch(0.14 0 0);
  --accent: oklch(0.92 0.04 303.47);
  --accent-foreground: oklch(0.14 0 0);
  --destructive: oklch(0.57 0.23 29.21);
  --border: oklch(0.83 0.02 308.26);
  --input: oklch(0.57 0.02 309.68);
  --ring: oklch(0.5 0.13 293.77);
  --chart-1: oklch(0.61 0.21 279.42);
  --chart-2: oklch(0.72 0.15 157.67);
  --chart-3: oklch(0.66 0.17 324.24);
  --chart-4: oklch(0.81 0.15 127.91);
  --chart-5: oklch(0.68 0.17 258.25);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.15 0 0);
  --sidebar-primary: oklch(0.56 0.11 228.27);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.95 0 0);
  --sidebar-accent-foreground: oklch(0.25 0 0);
  --sidebar-border: oklch(0.9 0 0);
  --sidebar-ring: oklch(0.56 0.11 228.27);

  --font-sans: Roboto, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono:
    'Geist Mono', 'Geist Mono Fallback', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --radius: 1rem;

  --shadow-2xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
  --shadow-sm: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
  --shadow-md: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
  --shadow-lg: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
  --shadow-xl: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 3px 0px oklch(0 0 0 / 0.03);

  @variant dark {
    --background: oklch(0.15 0.01 317.69);
    --foreground: oklch(0.95 0.01 321.5);
    --card: oklch(0.22 0.02 322.13);
    --card-foreground: oklch(0.95 0.01 321.5);
    --popover: oklch(0.22 0.02 322.13);
    --popover-foreground: oklch(0.95 0.01 321.5);
    --primary: oklch(0.6 0.22 279.81);
    --primary-foreground: oklch(0.98 0.01 321.51);
    --secondary: oklch(0.45 0.03 294.79);
    --secondary-foreground: oklch(0.95 0.01 321.5);
    --muted: oklch(0.22 0.01 319.5);
    --muted-foreground: oklch(0.7 0.01 320.7);
    --accent: oklch(0.35 0.06 299.57);
    --accent-foreground: oklch(0.95 0.01 321.5);
    --destructive: oklch(0.57 0.23 29.21);
    --border: oklch(0.4 0.04 309.35);
    --input: oklch(0.4 0.04 309.35);
    --ring: oklch(0.5 0.15 294.97);
    --chart-1: oklch(0.5 0.25 274.99);
    --chart-2: oklch(0.6 0.15 150.16);
    --chart-3: oklch(0.65 0.2 309.96);
    --chart-4: oklch(0.6 0.17 132.98);
    --chart-5: oklch(0.6 0.2 255.25);
    --sidebar: oklch(0.2 0.01 317.74);
    --sidebar-foreground: oklch(0.95 0.01 321.5);
    --sidebar-primary: oklch(0.59 0.11 225.82);
    --sidebar-primary-foreground: oklch(0.95 0.01 321.5);
    --sidebar-accent: oklch(0.3 0.01 319.52);
    --sidebar-accent-foreground: oklch(0.95 0.01 321.5);
    --sidebar-border: oklch(0.35 0.01 319.53 / 30%);
    --sidebar-ring: oklch(0.59 0.11 225.82);

    --shadow-2xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
    --shadow-xs: 0px 1px 3px 0px oklch(0 0 0 / 0.01);
    --shadow-sm: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
    --shadow: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
    --shadow-md: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
    --shadow-lg: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
    --shadow-xl: 0px 1px 3px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
    --shadow-2xl: 0px 1px 3px 0px oklch(0 0 0 / 0.03);
  }
}
