.theme-spotify {
  --background: oklch(0.99 0 0);
  --foreground: oklch(0.35 0.02 165.48);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.35 0.02 165.48);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.35 0.02 165.48);
  --primary: oklch(0.67 0.17 153.85);
  --primary-foreground: oklch(0.99 0.02 175.22);
  --secondary: oklch(0.9 0.02 238.66);
  --secondary-foreground: oklch(0.2 0.02 266.02);
  --muted: oklch(0.9 0.02 240.73);
  --muted-foreground: oklch(0.5 0.03 268.53);
  --accent: oklch(0.9 0.02 240.73);
  --accent-foreground: oklch(0.35 0.02 165.48);
  --destructive: oklch(0.61 0.24 20.96);
  --border: oklch(0.94 0.01 238.46);
  --input: oklch(0.85 0.02 240.75);
  --ring: oklch(0.67 0.17 153.85);
  --chart-1: oklch(0.67 0.17 153.85);
  --chart-2: oklch(0.5 0.1 270.06);
  --chart-3: oklch(0.72 0.12 201.79);
  --chart-4: oklch(0.8 0.1 100.65);
  --chart-5: oklch(0.6 0.15 300.14);
  --sidebar: oklch(0.98 0.01 238.45);
  --sidebar-foreground: oklch(0.35 0.02 165.48);
  --sidebar-primary: oklch(0.67 0.17 153.85);
  --sidebar-primary-foreground: oklch(0.98 0.01 238.45);
  --sidebar-accent: oklch(0.9 0.02 240.73);
  --sidebar-accent-foreground: oklch(0.35 0.02 165.48);
  --sidebar-border: oklch(0.85 0.02 240.75);
  --sidebar-ring: oklch(0.67 0.17 153.85);

  --font-sans: Lato, sans-serif;
  --font-serif: Merriweather, Geist, Geist Fallback, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    Roboto Mono, Geist Mono, Geist Mono Fallback, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --radius: 0.25rem;

  --shadow-2xs: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.02);
  --shadow-xs: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.02);
  --shadow-sm: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 1px 2px -1px oklch(0.35 0.05 163.02 / 0.04);
  --shadow: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 1px 2px -1px oklch(0.35 0.05 163.02 / 0.04);
  --shadow-md: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 2px 4px -1px oklch(0.35 0.05 163.02 / 0.04);
  --shadow-lg: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 4px 6px -1px oklch(0.35 0.05 163.02 / 0.04);
  --shadow-xl: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 8px 10px -1px oklch(0.35 0.05 163.02 / 0.04);
  --shadow-2xl: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.1);

  @variant dark {
    --background: oklch(0.15 0.02 269.18);
    --foreground: oklch(0.95 0.01 238.46);
    --card: oklch(0.2 0.02 266.02);
    --card-foreground: oklch(0.95 0.01 238.46);
    --popover: oklch(0.2 0.02 266.02);
    --popover-foreground: oklch(0.95 0.01 238.46);
    --primary: oklch(0.67 0.17 153.85);
    --primary-foreground: oklch(0.15 0.02 269.18);
    --secondary: oklch(0.3 0.03 271.05);
    --secondary-foreground: oklch(0.95 0.01 238.46);
    --muted: oklch(0.3 0.03 271.05);
    --muted-foreground: oklch(0.6 0.03 269.46);
    --accent: oklch(0.3 0.03 271.05);
    --accent-foreground: oklch(0.95 0.01 238.46);
    --destructive: oklch(0.64 0.25 19.69);
    --border: oklch(0.95 0.01 238.46 / 15%);
    --input: oklch(0.95 0.01 238.46 / 20%);
    --ring: oklch(0.67 0.17 153.85);
    --chart-1: oklch(0.67 0.17 153.85);
    --chart-2: oklch(0.6 0.1 269.83);
    --chart-3: oklch(0.72 0.12 201.79);
    --chart-4: oklch(0.8 0.1 100.65);
    --chart-5: oklch(0.6 0.15 300.14);
    --sidebar: oklch(0.2 0.02 266.02);
    --sidebar-foreground: oklch(0.95 0.01 238.46);
    --sidebar-primary: oklch(0.67 0.17 153.85);
    --sidebar-primary-foreground: oklch(0.15 0.02 269.18);
    --sidebar-accent: oklch(0.3 0.03 271.05);
    --sidebar-accent-foreground: oklch(0.95 0.01 238.46);
    --sidebar-border: oklch(0.95 0.01 238.46 / 15%);
    --sidebar-ring: oklch(0.67 0.17 153.85);

    --shadow-2xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
    --shadow-xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
    --shadow-sm: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
    --shadow: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
    --shadow-md: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
    --shadow-lg: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
    --shadow-xl: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
    --shadow-2xl: 0px 1px 2px 0px oklch(0 0 0 / 0.03);
  }
}
