.theme-vs-code {
  --background: oklch(0.97 0.02 225.66);
  --foreground: oklch(0.15 0.02 269.18);
  --card: oklch(0.98 0.01 228.79);
  --card-foreground: oklch(0.15 0.02 269.18);
  --popover: oklch(0.98 0.01 238.45);
  --popover-foreground: oklch(0.15 0.02 269.18);
  --primary: oklch(0.71 0.15 239.15);
  --primary-foreground: oklch(0.94 0.03 232.39);
  --secondary: oklch(0.91 0.03 229.2);
  --secondary-foreground: oklch(0.15 0.02 269.18);
  --muted: oklch(0.89 0.02 225.69);
  --muted-foreground: oklch(0.36 0.03 231.55);
  --accent: oklch(0.88 0.02 235.72);
  --accent-foreground: oklch(0.34 0.05 229.2);
  --destructive: oklch(0.61 0.24 20.96);
  --border: oklch(0.82 0.02 240.77);
  --input: oklch(0.82 0.02 240.77);
  --ring: oklch(0.55 0.1 235.72);
  --chart-1: oklch(0.57 0.11 228.92);
  --chart-2: oklch(0.45 0.1 270.08);
  --chart-3: oklch(0.65 0.15 159.03);
  --chart-4: oklch(0.75 0.1 100.01);
  --chart-5: oklch(0.55 0.15 299.88);
  --sidebar: oklch(0.93 0.01 238.46);
  --sidebar-foreground: oklch(0.15 0.02 269.18);
  --sidebar-primary: oklch(0.57 0.11 228.92);
  --sidebar-primary-foreground: oklch(0.99 0.01 203.97);
  --sidebar-accent: oklch(0.88 0.02 235.72);
  --sidebar-accent-foreground: oklch(0.15 0.02 269.18);
  --sidebar-border: oklch(0.82 0.02 240.77);
  --sidebar-ring: oklch(0.57 0.11 228.92);

  --font-sans:
    'Source Code Pro', 'Geist', 'Geist Fallback', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif:
    'Source Serif 4', 'Geist', 'Geist Fallback', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    'Source Code Pro', 'Geist Mono', 'Geist Mono Fallback', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --radius: 0rem;

  --shadow-2xs: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.03);
  --shadow-xs: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.03);
  --shadow-sm: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.06), 0px 1px 2px -1px oklch(0.49 0.09 235 / 0.06);
  --shadow: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.06), 0px 1px 2px -1px oklch(0.49 0.09 235 / 0.06);
  --shadow-md: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.06), 0px 2px 4px -1px oklch(0.49 0.09 235 / 0.06);
  --shadow-lg: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.06), 0px 4px 6px -1px oklch(0.49 0.09 235 / 0.06);
  --shadow-xl: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.06), 0px 8px 10px -1px oklch(0.49 0.09 235 / 0.06);
  --shadow-2xl: 0px 1px 2.5px 0px oklch(0.49 0.09 235 / 0.15);

  @variant dark {
    --background: oklch(0.18 0.02 271.27);
    --foreground: oklch(0.9 0.01 238.47);
    --card: oklch(0.22 0.02 271.67);
    --card-foreground: oklch(0.9 0.01 238.47);
    --popover: oklch(0.22 0.02 271.67);
    --popover-foreground: oklch(0.9 0.01 238.47);
    --primary: oklch(0.71 0.15 239.15);
    --primary-foreground: oklch(0.94 0.03 232.39);
    --secondary: oklch(0.28 0.03 270.91);
    --secondary-foreground: oklch(0.9 0.01 238.47);
    --muted: oklch(0.28 0.03 270.91);
    --muted-foreground: oklch(0.6 0.03 269.46);
    --accent: oklch(0.28 0.03 270.91);
    --accent-foreground: oklch(0.9 0.01 238.47);
    --destructive: oklch(0.64 0.25 19.69);
    --border: oklch(0.9 0.01 238.47 / 15%);
    --input: oklch(0.9 0.01 238.47 / 20%);
    --ring: oklch(0.66 0.13 227.7);
    --chart-1: oklch(0.66 0.13 227.7);
    --chart-2: oklch(0.6 0.1 269.83);
    --chart-3: oklch(0.7 0.15 159.83);
    --chart-4: oklch(0.8 0.1 100.65);
    --chart-5: oklch(0.6 0.15 300.14);
    --sidebar: oklch(0.22 0.02 271.67);
    --sidebar-foreground: oklch(0.9 0.01 238.47);
    --sidebar-primary: oklch(0.66 0.13 227.7);
    --sidebar-primary-foreground: oklch(0.18 0.02 271.27);
    --sidebar-accent: oklch(0.28 0.03 270.91);
    --sidebar-accent-foreground: oklch(0.9 0.01 238.47);
    --sidebar-border: oklch(0.9 0.01 238.47 / 15%);
    --sidebar-ring: oklch(0.66 0.13 227.7);

    --shadow-2xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
    --shadow-xs: 0px 1px 2px 0px oklch(0 0 0 / 0.01);
    --shadow-sm: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
    --shadow: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 1px 2px -1px oklch(0 0 0 / 0.01);
    --shadow-md: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 2px 4px -1px oklch(0 0 0 / 0.01);
    --shadow-lg: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 4px 6px -1px oklch(0 0 0 / 0.01);
    --shadow-xl: 0px 1px 2px 0px oklch(0 0 0 / 0.01), 0px 8px 10px -1px oklch(0 0 0 / 0.01);
    --shadow-2xl: 0px 1px 2px 0px oklch(0 0 0 / 0.03);
  }
}
